.body{
    background-color:#392f41;
    height: 900px;
}
.paydiv{
display: flex;
/* border: 2px solid black; */
justify-content: space-evenly;
margin: 40px;
}
.paybody{
/* border: 1px black; */
width: 40%;
height: 700px;
/* background-color: blue; */
justify-content: space-evenly;
border-radius: 20px;
}
.leftsidepay{
    /* border: 10px solid yellow; */
    background-color: #392f41;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.leftsidehtext{
    text-align: left;
    /* font-size: 40px; */
    color: #ebe7df;
    font-weight: 900;
}
.leftsidehtext:nth-child(1){
font-size: 130px;
padding: none;
font-weight: 900;
}
.leftsidehtext:nth-child(2){
    font-size: 130px;
    font-weight: 900;
}
.leftsidehtext:nth-child(3){
    font-size: 130px;
    font-weight: 900;
}
.leftsideptext{
    text-align: left;
    font-size: 25px;
    color: #ccc3d0;
    
}
.exp-button{
  margin-top: 15px;
  transition: transform 0.1s ease;
}
.exp-button:hover{
  transform: scale(1.05);
}
.rightsidepay{
    background-color:#392f41;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.rightsidepay>img{
  width: 100%;
  align-self: center;
}