.google-sans-code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stack-sans-text{
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}