* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* object-fit: cover; */
}

html,
body {
  width: 100%;
  height: 100%;
}

.mother{
  /* background-image: url('Images/Untitled_design.png'); */
  /* background-color: #050710; */
  background-color: #392f41;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.container{
}

.hero{
  height: 650px;
  margin-top: 20px;
  opacity: 1;
  top: 20%;
  width: 90%;
  /* border: 2px solid; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}
.herotabs{
 margin: 20px;
 border-top-left-radius: 60px;
 border-bottom-right-radius: 60px;
 align-content: center;
 transition: transform 3s ease;
 /* border-radius: 20px; */
}
.herotabs:hover{
  transform: scale(1.15);
  border-bottom-left-radius: 60px;
 border-top-right-radius: 60px;
 border-top-left-radius: 0px;
 border-bottom-right-radius: 0px;
}
.ha1{
  top:10px;
 height: 500px;
 background-color: #121212;
 text-align: center;
 color: white;
 position: absolute;
}
/* .ha1:hover{
  background-color: #a098c7;
  opacity: 0.7;
  color:#050710;
} */
#text1{
  font-size: 90px;
  text-align: center;
  color: #ebe7df;
}
#text2{
font-size: 120px;
text-align: center;
color: #ebe7df;
}
#changetheway{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ha2{
 grid-area: ha22;
}

.ha3{
grid-area: ha33;
}

.useful{
  height: 800px;
/* background-color:#121212; */
background-color: #ebe7df;
border-top-left-radius: 60px;
border-top-right-radius: 40px;
width: 100%;
   display: flex;
   justify-content: space-evenly;
}
.boxs{
   /* border: 1px solid white; */
   border-radius: 30px;
   margin-top: 45px;
   padding: ;
   /* margin: 15px; */
   /* background-color: #392f41; */
   background-color: #121212;
   object-fit: cover;
   width: 30vw;
   height: 89%;
   transition: transform 0.1s ease;
}
.boxs:hover{
  /* background-color:#724760; */
  /* background-color: #121212; */
  /* background-color: #392f41; */
  transform: scale(1.05);
}
.cc{
  grid-area: cc;
  border: 1px solid;
  width: 3.3fr;
  
}
.textcc1{
  font-size: 50px;
  color: white;
  text-align: center;
}

.rc{
  grid-area: rc;
  border: 1px solid;
  width: 3.3fr;
}
.textrc1{
  font-size: 50px;
  color: white;
  text-align: center;
}
.trv{
  grid-area: trv;
  border: 1px solid;
  width: 3.3fr;
}
.texttrv1{
  font-size: 50px;
  color: white;
  text-align: center;
}
