* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* object-fit: cover; */
}

html,
body {
  width: 100%;
  height: 100%;
}

.mother{
  /* background-image: url('Images/Untitled_design.png'); */
  /* background-color: #050710; */
  background-color: #392f41;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.container{
}

.hero{
  height: 600px;
  margin-top: 20px;
  opacity: 1;
  top: 20%;
  width: 90%;
  /* border: 2px solid; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  margin-top: 20px;
}
.herotabs{
 margin: 20px;
 border-top-left-radius: 60px;
 border-bottom-right-radius: 60px;
 align-content: center;
 /* border-radius: 20px; */
}
.ha1{
 height: 500px;
 background-color: #121212;
 text-align: center;
 color: white;
}
/* .ha1:hover{
  background-color: #a098c7;
  opacity: 0.7;
  color:#050710;
} */
#text1{
  font-size: 90px;
  text-align: center;
  color: #ebe7df;
}
#text2{
font-size: 120px;
text-align: center;
color: #ebe7df;
}
#changetheway{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ha2{
 grid-area: ha22;
}

.ha3{
grid-area: ha33;
}

.useful{
  height: 800px;
background-color:#121212;
border-top-left-radius: 60px;
border-top-right-radius: 40px;
width: 100%;
   display: flex;
   justify-content: center;
}
.boxs{
   border: 1px solid white;
   border-radius: 30px;
   margin: 15px;
   background-color: #392f41;
   object-fit: cover;
   width: 30vw;
}
.boxs:hover{
  background-color:#232222;
}
.cc{
  grid-area: cc;
  border: 1px solid;
  width: 3.3fr;
  
}
.textcc1{
  font-size: 50px;
  color: white;
  text-align: center;
}

.rc{
  grid-area: rc;
  border: 1px solid;
  width: 3.3fr;
}
.textrc1{
  font-size: 50px;
  color: white;
  text-align: center;
}
.trv{
  grid-area: trv;
  border: 1px solid;
  width: 3.3fr;
}
.texttrv1{
  font-size: 50px;
  color: white;
  text-align: center;
}
.footer{
  height: 100px;
  width: 100%;
background-color: gray;
position: absolute;
text-align: center;
}
.footertext{
  font-size: 50px;
  margin: auto;
}





main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #000;
  height: 100%;
}

.rechargebox{
  width: 60vw;
  height: 80vh;
  border: 2px solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  background-color: #a098c7;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

input{
  width: 400px;
  height: 30px;
}