* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.body{
  background-image: url('Images/Untitled_design.png');
  /* background-color: #aa9ff3; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: relative;
}

.header {
  position:sticky;
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 50px;
  width: 60%;
  top: 20px;
  left: 20%;
  border-radius: 50px;
  box-sizing: border-box;
  
}
.headerele {
  background-color: orange;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-left: 10px;
  border-radius: 50px;
  height: 40px;
  width: 600px;
  padding: 10px;
  display: flex;
}
.logo {
  /* border: 2px solid; */
  width: 20%px;
  height: 50px;
  align-items: center;
  margin: 0px;
  position:absolute;
  margin-left: 40px;
  margin-top: 25px;
}
#payoraa_logo{
  width: 120px;
  height: 50px;
  
}
.recharge{
  background-color: grey;

.recharge > a{
  text-decoration: none;
  color: aliceblue;
}
}
.travel {
  background-color:grey;
}
.credit {
  background-color:grey;
}
.login {
  background-color:grey;
  display: absolute;
  right: 5px;
}
#payorapng {
  width: 80px;
  height: 40px;
  margin: auto;
}


.container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 800px 800px 400px;
}
.hero{

}
.useful{

}
.footer{
  
}