.body{
    background-color:#392f41;
    height: 900px;
}
.paydiv{
display: flex;
/* border: 2px solid black; */
justify-content: space-evenly;
margin: 40px;
}
.paybody{
/* border: 1px black; */
width: 40%;
height: 700px;
/* background-color: blue; */
justify-content: space-evenly;
border-radius: 20px;
}
.leftsidepay{
    /* border: 10px solid yellow; */
    background-color: #392f41;
    justify-content: center;
    align-content: center;
}

.leftsidehtext{
    text-align: left;
    /* font-size: 40px; */
    color: #ebe7df;
}
.leftsidehtext:nth-child(1){
font-size: 80px;
padding: none;
}
.leftsidehtext:nth-child(2){
    font-size: 50px;
}
.leftsideptext{
    text-align: left;
    font-size: 20px;
    color: #ccc3d0;
}

.rightsidepay{
    background-color: #ebe7df;
    /* border: 10px solid green; */
    border-radius: 50px;

}
.rightsidepay >h6{
    font-size: 40px;
    text-align: center;
    text-emphasis: bold;
    padding-top: 20px;
}
.rightsidepay .tofrom{
    display: flex;
    flex-wrap: wrap;
}
.rightsidepay form{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    
    justify-content: space-evenly;
    gap: 15px;
    margin: auto;
    padding: 60px;
    /* position: absolute; */
    label{
        font-size: 20px;
        text-align: left;
    }
input{
    height: 20px;
    /* font-size: 100px; */
}
}

.form-content::placeholder{
    color: #392f41;
    opacity: 0.5;
    text-align: left;
}
.rightsidepay >h5{
    font-size: 20px;
    text-align: center;
    text-emphasis: none;
    padding-bottom: 20px;
}
.main-button{
  transition: transform 0.1s ease;
}
.main-button:hover{
  transform: scale(1.05);
}